{{>header}}
    <title>Evant Planner || About Us</title>
{{>navbar}}
<div class="container-fluid">
    
<div class="accordion mt-2" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        About Our Company
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Our Company .</strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque cum est assumenda, cumque vitae dolores et asperiores quam aperiam reprehenderit nesciunt libero quos! Maxime sapiente voluptatibus nihil tenetur iure at repellat, quos explicabo quas, labore rem adipisci mollitia id. Necessitatibus possimus dolore explicabo maiores tempore corrupti expedita voluptatem architecto odit rem error omnis, saepe illo delectus sequi minima? Officiis modi, quae iste numquam vel nam incidunt placeat reiciendis voluptate distinctio explicabo beatae earum voluptatum! Maxime suscipit ratione alias, accusamus nisi eum iusto optio quia voluptas repellendus similique inventore perspiciatis consequuntur nihil quae molestias eos! Atque explicabo exercitationem necessitatibus minima quisquam?
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
       About Our Services
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>Our Servicse.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
       About Our Employess
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Our Employess.</strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quam, eius, voluptates omnis in suscipit placeat possimus pariatur recusandae ratione consequatur consequuntur eos itaque sit? Asperiores quibusdam dicta nulla at dolorem, libero iure ad veniam, suscipit voluptatibus magnam ab dolorum id recusandae sed, iste provident in ipsa beatae tenetur facere quos! Enim dignissimos nam qui dolorum deserunt veritatis, placeat beatae voluptates reprehenderit sunt distinctio impedit magnam temporibus alias error natus quisquam a tenetur quia ad modi, cumque porro delectus non! Deserunt reiciendis atque, delectus incidunt libero quasi sunt ducimus optio, alias quod necessitatibus ipsam possimus iure ipsum, voluptatibus officia voluptates voluptatum quo ea. Officia veritatis eligendi libero! Quas, sapiente aperiam tempore iusto sunt mollitia, sequi quo dignissimos minima, enim consequuntur aliquam! Rem veritatis sit eveniet, esse optio iste alias ipsum atque aliquam earum vel amet officia laboriosam neque. Quam minima corporis natus perspiciatis. Quis rerum adipisci non at deleniti itaque!
      </div>
    </div>
  </div>
</div>
</div>
{{>footer}}
    
