{{>header}}
    <title>Evant Planner || Home</title>
{{>navbar}}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="./images/pic5.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="500">
      <img src="./images/pic2.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/pic3.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/pic4.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/pic1.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/pic6.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/pic7.jpg" class="d-block w-100 pic" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/pic8.jpg" class="d-block w-100 pic" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid mt-2">
    <h3 class="bg-info text-light text-center p-2 mb-1">Some Event Demo</h3>
<div class="home1">
<img src="./images/p.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem eveniet ad, dicta saepe excepturi soluta fugit blanditiis ab. Non accusantium corrupti expedita quasi, eius rem quibusdam nihil mollitia beatae fugit ipsum quis modi itaque inventore eos quae earum, iusto atque quos error repellendus totam! Incidunt aut error magni sunt maxime dolorem voluptate consequatur nostrum? Laboriosam quas harum laudantium. Nostrum, tempore quibusdam fugiat corporis ut praesentium voluptate voluptas et expedita sit ex! At, quibusdam eos? Repudiandae molestiae eligendi ipsam rerum reprehenderit modi, incidunt placeat minus ea aspernatur ipsum aliquid consequatur iure deserunt quis earum culpa at obcaecati sit? Possimus consectetur velit temporibus est mollitia assumenda excepturi ut? Pariatur praesentium fugit eveniet molestias ipsam inventore vel ex sequi sint! Odit, quidem impedit quos autem animi officiis natus excepturi numquam cum in enim consequuntur voluptatibus fugiat maxime sequi quia? Modi eligendi deserunt nobis doloribus nesciunt velit at. Pariatur, ipsam corrupti! Aperiam sint maiores ex assumenda deserunt cumque ad qui soluta dolorum architecto quis, quam quo labore molestiae fugiat nobis. Quia rem, quae nam excepturi, commodi optio harum dolor vero cum nesciunt tempora, iure aliquam ea maxime repellendus molestias sapiente soluta veritatis consequuntur minima ullam dolore praesentium. Quam labore non ea porro quos?</p>
</div>
<div class="home2">
<img src="./images/p1.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem eveniet ad, dicta saepe excepturi soluta fugit blanditiis ab. Non accusantium corrupti expedita quasi, eius rem quibusdam nihil mollitia beatae fugit ipsum quis modi itaque inventore eos quae earum, iusto atque quos error repellendus totam! Incidunt aut error magni sunt maxime dolorem voluptate consequatur nostrum? Laboriosam quas harum laudantium. Nostrum, tempore quibusdam fugiat corporis ut praesentium voluptate voluptas et expedita sit ex! At, quibusdam eos? Repudiandae molestiae eligendi ipsam rerum reprehenderit modi, incidunt placeat minus ea aspernatur ipsum aliquid consequatur iure deserunt quis earum culpa at obcaecati sit? Possimus consectetur velit temporibus est mollitia assumenda excepturi ut? Pariatur praesentium fugit eveniet molestias ipsam inventore vel ex sequi sint! Odit, quidem impedit quos autem animi officiis natus excepturi numquam cum in enim consequuntur voluptatibus fugiat maxime sequi quia? Modi eligendi deserunt nobis doloribus nesciunt velit at. Pariatur, ipsam corrupti! Aperiam sint maiores ex assumenda deserunt cumque ad qui soluta dolorum architecto quis, quam quo labore molestiae fugiat nobis. Quia rem, quae nam excepturi, commodi optio harum dolor vero cum nesciunt tempora, iure aliquam ea maxime repellendus molestias sapiente soluta veritatis consequuntur minima ullam dolore praesentium. Quam labore non ea porro quos?</p>
</div>
<div class="home1">
<img src="./images/p3.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem eveniet ad, dicta saepe excepturi soluta fugit blanditiis ab. Non accusantium corrupti expedita quasi, eius rem quibusdam nihil mollitia beatae fugit ipsum quis modi itaque inventore eos quae earum, iusto atque quos error repellendus totam! Incidunt aut error magni sunt maxime dolorem voluptate consequatur nostrum? Laboriosam quas harum laudantium. Nostrum, tempore quibusdam fugiat corporis ut praesentium voluptate voluptas et expedita sit ex! At, quibusdam eos? Repudiandae molestiae eligendi ipsam rerum reprehenderit modi, incidunt placeat minus ea aspernatur ipsum aliquid consequatur iure deserunt quis earum culpa at obcaecati sit? Possimus consectetur velit temporibus est mollitia assumenda excepturi ut? Pariatur praesentium fugit eveniet molestias ipsam inventore vel ex sequi sint! Odit, quidem impedit quos autem animi officiis natus excepturi numquam cum in enim consequuntur voluptatibus fugiat maxime sequi quia? Modi eligendi deserunt nobis doloribus nesciunt velit at. Pariatur, ipsam corrupti! Aperiam sint maiores ex assumenda deserunt cumque ad qui soluta dolorum architecto quis, quam quo labore molestiae fugiat nobis. Quia rem, quae nam excepturi, commodi optio harum dolor vero cum nesciunt tempora, iure aliquam ea maxime repellendus molestias sapiente soluta veritatis consequuntur minima ullam dolore praesentium. Quam labore non ea porro quos?</p>
</div>
<div class="home2">
<img src="./images/p5.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem eveniet ad, dicta saepe excepturi soluta fugit blanditiis ab. Non accusantium corrupti expedita quasi, eius rem quibusdam nihil mollitia beatae fugit ipsum quis modi itaque inventore eos quae earum, iusto atque quos error repellendus totam! Incidunt aut error magni sunt maxime dolorem voluptate consequatur nostrum? Laboriosam quas harum laudantium. Nostrum, tempore quibusdam fugiat corporis ut praesentium voluptate voluptas et expedita sit ex! At, quibusdam eos? Repudiandae molestiae eligendi ipsam rerum reprehenderit modi, incidunt placeat minus ea aspernatur ipsum aliquid consequatur iure deserunt quis earum culpa at obcaecati sit? Possimus consectetur velit temporibus est mollitia assumenda excepturi ut? Pariatur praesentium fugit eveniet molestias ipsam inventore vel ex sequi sint! Odit, quidem impedit quos autem animi officiis natus excepturi numquam cum in enim consequuntur voluptatibus fugiat maxime sequi quia? Modi eligendi deserunt nobis doloribus nesciunt velit at. Pariatur, ipsam corrupti! Aperiam sint maiores ex assumenda deserunt cumque ad qui soluta dolorum architecto quis, quam quo labore molestiae fugiat nobis. Quia rem, quae nam excepturi, commodi optio harum dolor vero cum nesciunt tempora, iure aliquam ea maxime repellendus molestias sapiente soluta veritatis consequuntur minima ullam dolore praesentium. Quam labore non ea porro quos?</p>
</div>
<div class="home1">
<img src="./images/p10.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem eveniet ad, dicta saepe excepturi soluta fugit blanditiis ab. Non accusantium corrupti expedita quasi, eius rem quibusdam nihil mollitia beatae fugit ipsum quis modi itaque inventore eos quae earum, iusto atque quos error repellendus totam! Incidunt aut error magni sunt maxime dolorem voluptate consequatur nostrum? Laboriosam quas harum laudantium. Nostrum, tempore quibusdam fugiat corporis ut praesentium voluptate voluptas et expedita sit ex! At, quibusdam eos? Repudiandae molestiae eligendi ipsam rerum reprehenderit modi, incidunt placeat minus ea aspernatur ipsum aliquid consequatur iure deserunt quis earum culpa at obcaecati sit? Possimus consectetur velit temporibus est mollitia assumenda excepturi ut? Pariatur praesentium fugit eveniet molestias ipsam inventore vel ex sequi sint! Odit, quidem impedit quos autem animi officiis natus excepturi numquam cum in enim consequuntur voluptatibus fugiat maxime sequi quia? Modi eligendi deserunt nobis doloribus nesciunt velit at. Pariatur, ipsam corrupti! Aperiam sint maiores ex assumenda deserunt cumque ad qui soluta dolorum architecto quis, quam quo labore molestiae fugiat nobis. Quia rem, quae nam excepturi, commodi optio harum dolor vero cum nesciunt tempora, iure aliquam ea maxime repellendus molestias sapiente soluta veritatis consequuntur minima ullam dolore praesentium. Quam labore non ea porro quos?</p>
</div>
<div class="home2">
<img src="./images/p11.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam exercitationem eveniet ad, dicta saepe excepturi soluta fugit blanditiis ab. Non accusantium corrupti expedita quasi, eius rem quibusdam nihil mollitia beatae fugit ipsum quis modi itaque inventore eos quae earum, iusto atque quos error repellendus totam! Incidunt aut error magni sunt maxime dolorem voluptate consequatur nostrum? Laboriosam quas harum laudantium. Nostrum, tempore quibusdam fugiat corporis ut praesentium voluptate voluptas et expedita sit ex! At, quibusdam eos? Repudiandae molestiae eligendi ipsam rerum reprehenderit modi, incidunt placeat minus ea aspernatur ipsum aliquid consequatur iure deserunt quis earum culpa at obcaecati sit? Possimus consectetur velit temporibus est mollitia assumenda excepturi ut? Pariatur praesentium fugit eveniet molestias ipsam inventore vel ex sequi sint! Odit, quidem impedit quos autem animi officiis natus excepturi numquam cum in enim consequuntur voluptatibus fugiat maxime sequi quia? Modi eligendi deserunt nobis doloribus nesciunt velit at. Pariatur, ipsam corrupti! Aperiam sint maiores ex assumenda deserunt cumque ad qui soluta dolorum architecto quis, quam quo labore molestiae fugiat nobis. Quia rem, quae nam excepturi, commodi optio harum dolor vero cum nesciunt tempora, iure aliquam ea maxime repellendus molestias sapiente soluta veritatis consequuntur minima ullam dolore praesentium. Quam labore non ea porro quos?</p>
</div>

</div>
{{>footer}}
    
