{{>header}}
<title>Evant Planner || Services</title>
{{>navbar}}
<div class="container-fluid">

    <h4 class="bg-dark text-light text-center p-2 mt-1 mb-1">Wedding Evant </h4>
    <div class="row mt-1">
        <div class="col-lg-6 col-sm-12">
            <img src="./images/p.jpg" alt="">
            <div class="mt-2">
                <img src="./images/p1.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/p3.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="mt-2">
                <img src="./images/p5.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/p10.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/p11.jpg" alt="">
            </div>
        </div>
    </div>
    <h4 class="bg-dark text-light text-center p-2 mt-1 mb-1">Birthday Party</h4>
    <div class="row mt-1">
        <div class="col-lg-6 col-sm-12">
            <img src="./images/hb1.jpg" alt="">
            <div class="mt-2">
                <img src="./images/hb2.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/hb3.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="mt-2">
                <img src="./images/hb4.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/hb5.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/p4.jpg" alt="">
            </div>
        </div>
    </div>

    <h4 class="bg-dark text-light text-center p-2 mt-1 mb-1">Festival and Special Event </h4>
    <div class="row mt-1">
        <div class="col-lg-6 col-sm-12">
            <img src="./images/fe1.jpg" alt="">
            <div class="mt-2">
                <img src="./images/fe2.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/fe3.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="mt-2">
                <img src="./images/fe4.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/fe5.jpg" alt="">
            </div>
            <div class="mt-2">
                <img src="./images/fe6.jpg" alt="">
            </div>
        </div>
    </div>

    <h4 class="bg-dark text-light text-center p-2 mt-1 mb-1">Dj Night </h4>
    <div class="row mt-1">
        <div class="col-lg-6 col-sm-12">
            <img src="./images/p8.jpg" alt="">
                <div class="mt-2">
                    <img src="./images/dn1.jpg" alt="">
                </div>
                <div class="mt-2">
                    <img src="./images/dn2.jpg" alt="">
                </div>
                <div class="mt-2">
                    <img src="./images/fe3.jpg" alt="">
                </div>

            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="mt-2">
                    <img src="./images/pic1.jpg" alt="">
                </div>
                <div class="mt-2">
                    <div class="mt-2">
                        <img src="./images/dn4.jpg" alt="">
                    </div>
                    <div class="mt-2">
                        <img src="./images/dn5.jpg" alt="">
                    </div>
                    <div class="mt-2">
                        <img src="./images/p7.jpg" alt="">
                    </div>
                </div>
            </div>


        </div>
        {{>footer}}