.pic{
    height: 500px;
}

 img{
    width: 100%;
    height: 400px;
}
 p{
    width: 58%;
}
.list{
    text-decoration: none;
    color: white;
    background: nevy;
}
button{
   background-color: white !important;
   color: black !important;
}